:root {
  --light: #fff;
  --dark: #0a0404;
  --dark1: hsla(345, 5%, 36%, 0.5);
  --dark2: rgba(0, 0, 0, 0.4);
  --color1: hsl(326, 91%, 52%);
  --color1-alter: hsl(326, 61%, 52%);
  --color1-light: hsla(326, 61%, 52%, 0.6);
  --color1-light2: hsla(326, 61%, 52%, 0.2);
  --color1-light3: hsla(326, 61%, 52%, 0.1);

  --lh: 150%;

  --font1: 'Montserrat', sans-serif;

  --transition: all 0.25s linear;
  --gap-lg: 100px;
  --gap-md: 50px;
  --gap-sm: 20px;
  --gap-xsm: 10px;

  --linear: all .25s linear;
}

@media (max-width: 768px) {
  :root {
    --gap-lg: 50px;
    --gap-md: 30px;
    --gap-sm: 15px;
  }
}

@media (max-width: 900px) {
  :root {
    --gap-lg: 50px;
    --gap-md: 30px;
    --gap-sm: 15px;
  }
}

.text-center {
  text-align: center;
}

._lock {
  overflow: hidden;
}

a {
  color: var(--color1);
}

.heading {
  font-size: 35px;
}
.heading2 {
  font-size: 28px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

[class*=__container] {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.lh {
  line-height: var(--lh);
}

.btn {
  &, &:active, &:focus, &:visited {
    display: table;
    text-decoration: none;
    color: var(--color1);
    padding: 10px 20px;
    border: 1px solid var(--color1);
  }
}

.pt-pb-md {
  padding-top: var(--gap-md);
  padding-bottom: var(--gap-md);
}

.pt-pb-sm {
  padding-top: var(--gap-sm);
  padding-bottom: var(--gap-sm);
}

body {
  font-family: var(--font1);
  font-size: 18px;
  line-height: var(--lh);

  @media (min-width: 2500px) {
    font-size: 25px;
  }
}


//wrapper

.hb-app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

//hero

.hb-app-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center center;

  &__container {
    position: relative;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background-color: var(--dark2);
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__engine {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__start {
    text-align: center;
    background-color: var(--color1-light);
    color: var(--light);
    text-decoration: none;
    padding: var(--gap-sm);
    border-radius: 50%;
    transition: var(--linear);

    &:hover {
      background-color: var(--color1-alter);
    }
  }

  @media (max-width: 768px) {
    &__video {
      display: none;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background-color: var(--dark2);
      pointer-events: none;
    }
  }
}

//package
.hb-app-options {

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1 1 33%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--light);
    text-decoration: none;
    min-height: 250px;
    box-sizing: content-box;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    transition: var(--linear);


    span {
      position: relative;
      transition: var(--linear);
      font-size: 30px;

      &::before {
        content: '';
        width: 50%;
        height: 2px;
        position: absolute;
        display: block;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--light);
        transition: var(--linear);
      }

    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background-color: var(--dark2);
      //z-index: -1;
      pointer-events: none;
      transition: var(--linear);
    }

    &:hover {
      &:before {
        background-color: var(--color1-light);
      }

      span {
        &::before {
          left: 0;
          transform: translateX(0);
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__item {
      flex: 1 1 100%;
    }
  }
}


//modal

//modal

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark1);
  z-index: 1050;
  transition: var(--linear);

  &:not(.active) {
    display: none;
  }
}

.modal {
  padding-right: 17px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100vw;
  height: 100vh;
}

.modal-dialog {
  width: 100%;
  max-width: 80rem;
  min-height: calc(100% - 3.5rem);
  margin: 1.75rem auto;
  /* background-color: red; */
  position: relative;
  /* left: 50%; */
  display: flex;
  align-items: center;
}

.modal-content {
  border-radius: 2rem;
  padding: 4rem;
  box-sizing: border-box;
  border-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: none;

  .close-modal {
    text-decoration: none;
    font-size: 40px;
    margin-left: auto;
    display: table;
    color: var(--black);
    margin-bottom: var(--gap-sm);
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}